.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    width: 100%;
    height: 50px;
}

.navbrand {
    font-size: 35px;
    margin-left: 30px;
}

.navlink {
    font-size: 20px;
    width: 125px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

.navlink li {
    display: inline;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}